<script lang="ts" setup>

import { ref } from 'vue'

const show = ref(false)
const showDeux = ref(false)
const showTrois = ref(false)

</script>

<template>
<div style="display: flex; justify-content: center;margin: 50px;">
  <div class="mycard">
    <v-card
      class="mx-auto"
      max-width="500"
    >
    
      <v-img
        height="600px"
        src="https://img01.ztat.net/article/spp-media-p1/ff829e658cd84fbd9cd492e509ecf320/9792a1654bc04f0fad42f7e69d6f130d.jpg?imwidth=1800"
        cover
      ></v-img>
   
      <v-card-title style="text-align: center;">
        Haut
      </v-card-title>
    
      <v-card-actions>
        <NuxtLink :to="'/categories/1'">
        <v-btn
          color="black"
          text="Voir plus"
        ></v-btn>
        </NuxtLink>
    
        <v-spacer></v-spacer>
    
        <v-btn
          :icon="show ? 'mdi-chevron-up' : 'mdi-chevron-down'"
          @click="show = !show"
        ></v-btn>
      </v-card-actions>
    
      <v-expand-transition>
        <div v-show="show">
          <v-divider></v-divider>
    
          <v-card-text>
            Explorez notre collection de hauts de qualité premium, conçus pour marier parfaitement confort et élégance. 
            Des chemises impeccables aux pulls sophistiqués, 
            chaque pièce est méticuleusement fabriquée avec des tissus de première qualité pour vous offrir un style inégalé et une sensation de douceur sur la peau.
          </v-card-text>
        </div>
      </v-expand-transition>
    </v-card>
  </div>
  <div class="mycard">
    <v-card
      class="mx-auto"
      max-width="500"
    >
    
      <v-img
        height="600px"
        src="https://img01.ztat.net/article/spp-media-p1/f7c01cef25a3468ebb6c1c041707fb3e/4df73c5c68f84c4783a8e60826dd0294.jpg?imwidth=1800"
        cover
      ></v-img>
    
      <v-card-title style="text-align: center;">
        Bas
      </v-card-title>
    
      <v-card-actions>
        <NuxtLink :to="'/categories/2'">
        <v-btn
          color="black"
          text="Voir plus"
          
        ></v-btn>
      </NuxtLink>
        <v-spacer></v-spacer>
    
        <v-btn
          :icon="showDeux ? 'mdi-chevron-up' : 'mdi-chevron-down'"
          @click="showDeux = !showDeux"
        ></v-btn>
      </v-card-actions>
    
      <v-expand-transition>
        <div v-show="showDeux">
          <v-divider></v-divider>
    
          <v-card-text>
            Plongez dans l'innovation avec nos bas haut de gamme, 
            pensés pour vous offrir un confort inégalé et une durabilité exceptionnelle. 
            Que ce soit pour le travail ou les loisirs, notre gamme de bas combine des designs modernes avec des détails soignés, 
            vous assurant une élégance discrète à chaque pas.
          </v-card-text>
        </div>
      </v-expand-transition>
    </v-card>
  </div>
  <div class="mycard">
    <v-card
      class="mx-auto"
      max-width="500"
    >
    
      <v-img
        height="600px"
        src="https://img01.ztat.net/article/spp-media-p1/d837ae048af641c698a3c748272678c2/b362f29b8b2d49aea3077166cf86cb91.jpg?imwidth=1800&filter=packshot"
        cover
      ></v-img>
    
      <v-card-title style="text-align: center;">
        Chaussures
      </v-card-title>
    
      <v-card-actions>
        <NuxtLink :to="'/categories/3'">
        <v-btn
          color="black"
          text="Voir plus"
        ></v-btn>
      </NuxtLink>
        <v-spacer></v-spacer>
    
        <v-btn
          :icon="showTrois ? 'mdi-chevron-up' : 'mdi-chevron-down'"
          @click="showTrois = !showTrois"
        ></v-btn>
      </v-card-actions>
    
      <v-expand-transition>
        <div v-show="showTrois">
          <v-divider></v-divider>
    
          <v-card-text>
            Explorez notre gamme de chaussures de luxe, alliant style et confort avec élégance. 
            Des mocassins en cuir aux baskets tendance, chaque paire incarne l'essence du raffinement. 
            Parfaites pour toutes les occasions, nos chaussures vous assurent une allure impeccable à chaque pas.          
          </v-card-text>
        </div>
      </v-expand-transition>
    </v-card>
  </div>
</div>
</template>



<style scoped>

  .mycard {
    width: 600px;
  }

</style>
