<template>

  <div style="display: flex;justify-content: space-between; flex-wrap: wrap;">
      <div id="total" v-for="item of data" :key="item.id" >
  
        <div style="margin: 20px;">
          <v-card class="mx-auto" width="400">
  
            <v-img height="400px" :src="item.mainPicture" cover>
            </v-img>
  
            <v-card-title>
              {{ item.title }}
            </v-card-title>
  
            <v-card-subtitle>
              {{ item.marque }}
            </v-card-subtitle>
  
            <div style="display: flex; justify-content: center; margin: 10px;">
              <NuxtLink :to=" '/produits/'+produit?.id">  
                <v-btn> Voir </v-btn> 
              </NuxtLink>
            </div>
  
          </v-card>
        </div>
  
      </div>
  </div>
  
  </template>
  
  <script lang ="ts" setup>
  
  import type { Produits, Images } from '~/entities';
  
  const route = useRoute();
  
  const {data} = await useFetch<Produits[]>('http://localhost:8080/api/produits/categories/' + 
    route.params.id);

    const {data:produit}  = await useFetch<Produits>('http://localhost:8080/api/produits/'+ route.params.id);
  

  
  </script>
  
  <style>
  #total {
    display: flex;
    justify-content: space-around;
  }
  </style>