<script lang="ts" setup></script>

<template>
  <div id="footer">
        <div>


    <v-divider></v-divider>
    <v-container class="d-flex" >
    <v-row no-gutters justify="center">
      <v-col cols="12" md="3" sm="6">
        <v-sheet class="ma-2 pa-1">
          <h4>AIDE</h4>
          <p class="espace">Service client disponible 7j/7, au <a href="tel: +33 9 77 40 40 77">+33 9 77 40 40 77</a>, par Whatsapp ou par <a href="mailto: ">email</a></p>
          <p class="espace">FAQ</p>
          <p class="espace">Conseil d'entretien</p>
          <p class="espace">caracteristiques environnementales</p>
          <p class="espace">Trouver un magasin</p>
          <p class="espace">Prendre un rendez-vous en magasin</p>
        </v-sheet>
        
      </v-col>
      <v-col cols="12" md="3" sm="6">
        <v-sheet class="ma-2 pa-1">
          <h4>SERVICES</h4>
          <p class="espace">Réparations</p>
          <p class="espace">Personnalisation</p>
          <p class="espace">L'Art d'Offrir</p>
          <p class="espace">Tèléchargez nos application</p>
        </v-sheet>
        
      </v-col>
      <v-col cols="12" md="3" sm="6">
        <v-sheet class="ma-2 pa-1" >
          <h4>A PROPOS DE </h4>
          <p class="espace">Défilés</p>
          <p class="espace">Arts & Culture</p>
          <p class="espace">La Maison</p>
          <p class="espace">Développement Durable</p>
          <p class="espace">Nouveautés</p>
          <p class="espace">Carrière</p>
          <p class="espace">fondation</p>
        </v-sheet>
        
      </v-col>
      <v-col cols="12" md="3" sm="6">
        <v-sheet class="ma-2 pa-1">
          <h4>SUIVEZ-NOUS</h4>
          <p class="espace"><a href="">Souscrivez à la Newsletter</a> pou recevoir en exclusivité les dernières actualités de la Maison</p>
          <p class="espace">Réseaux sociaux</p>
        </v-sheet>
      </v-col>
    </v-row>
    </v-container>

    <v-divider></v-divider>

    <v-container class="d-flex">
    <v-row no-gutters justify="center" >
    <v-col cols="12" md="4" sm="6" style="display: flex; align-items: center;">
    <p>Pays de livraison:  <img src="/public/france.png" style="width: 25px;margin-left: 10px;" alt="drapeau français"></p>
    </v-col>
    <v-col cols="12" md="4" sm="6" style="text-align: center;">
        <img style="width: 15rem;" src="/public/logo.png"/>
      </v-col>
      <v-col cols="12" md="4" sm="6" style="display: flex; align-items: center;">
        <span style="margin-right: 2rem;">Plan du site</span>
        <span style="margin-right: 2rem;">Mentions légales</span>
        <span style="margin-right: 2rem;">Cookies</span>

    </v-col>
    </v-row>
    </v-container>





    <div class="px-4 py-2 text-center w-100">
            <p>© ICKE 2024</p>
          </div>



    </div>
  </div>
  
</template>

<style >
  .espace{
    margin: 2rem;
  }
#footer{
  padding-top: 7%;
}
</style>
