<template>
  

    <div id="menu">
      
        <div id="titre">
          
          <NuxtLink :to="'/'"><img src='../public/home.png'></NuxtLink>
          <NuxtLink :to="'/categories/1'">HAUT</NuxtLink>
          <NuxtLink :to="'/categories/2'">BAS</NuxtLink>
          <NuxtLink :to="'/categories/3'">CHAUSSURES</NuxtLink>
        </div>
        
    <div id="item">
            <div style="margin: 20px;">
              <NuxtLink :to="'/Panier'"><img src='../public/panier.png'></NuxtLink>
            </div>
              
    </div>
    <div id="account">
    <v-menu :close-on-content-click="false" location="bottom" transition="scale-transition">
      
      <template v-slot:activator="{ props }">
        <v-col cols="auto">
        <v-btn  v-if="!user" icon="mdi-account" size="small" v-bind="props"></v-btn>
        <v-btn v-if="user" icon="mdi-account" color ="green" size="small" v-bind="props"></v-btn>
      </v-col>
      </template>

      <v-card min-width="300">
        <v-list>
          <v-list-item
            prepend-avatar="https://cdn-icons-png.freepik.com/256/1077/1077114.png"
            >
            <h6>{{ user?.role }}</h6>
            <h3>{{ user?.email }}</h3>
            
          </v-list-item>
        </v-list>
        <v-card-actions>
          <NuxtLink :to="'/'"><v-btn  v-if="user" color="primary" variant="text" @click="logout()">Deconnexion</v-btn></NuxtLink>
          <NuxtLink :to="'/login'"><v-btn v-if="!user" color="primary" variant="text" >Connexion</v-btn></NuxtLink>
        </v-card-actions>
      </v-card>
    </v-menu>
  </div>
  
</div>
</template>

<script lang="ts" setup>

const user = useAuth();

async function logout() {
  await $fetch('http://localhost:8080/logout', {
    credentials:'include',
    headers: useRequestHeaders(['cookie'])
  });
  user.value = null;
}


</script>

<style >
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#menu{
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  
}

#titre {
   display: flex;
    height: 10%;
    width: 50%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 8%;
    justify-content: space-between;
    
}


a {
    background-color: transparent;
    text-decoration: none;
    display: grid;
    justify-content: space-around;
    font-family: "Montserrat Alternates", sans-serif;
    color: white;

}

#item{
  
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-left: 33%;
    
}

#account{
  padding-top: 1.6%;
}
</style>
