<template>

    <div style="display: flex; margin: 50px;">
        <div class="div1">
            <div>
                <nuxt-link to="/" style="color: black; text-decoration: underline;">
                    <p>Continuer mes achats</p>
                </nuxt-link>
            </div>
            <div>
                <!-- v-for="item of list" --> 
                <v-card 
                    class="mx-auto my-8"
                    elevation="16"
                    max-width="344">
                    
                    <v-card-item>
                        <v-card-title>
                            Name <!--{{ item.title }} --> 
                        </v-card-title>

                        <v-card-subtitle>
                            Color <!-- {{ item.color }} --> 
                        </v-card-subtitle>

                        <v-card-subtitle>
                            Taille <!-- {{ item.size }} --> 
                        </v-card-subtitle>
                    </v-card-item>

                    <v-card-text>
                    Description....... <!-- {{ item.description }} --> 
                    </v-card-text>
                </v-card>
            </div>
        </div>
        <div style="width: 35%; padding: 20px; margin: 20px;">
            <p class="mar">Sous-total :</p>
            <p class="mar">Livraison :</p>
            <h4 class="mar">Montant Total :</h4>
            <div class="buy" style="background-color: black; color: white;">Procéder au paiement</div>
            <div class="buy" style="background-color: blue; color: white; margin-bottom: 50px;">Paypal</div>
            <v-divider class="border-opacity-100" color="success"></v-divider>
            <h4 class="mar">Paiement sécurisé</h4>
            <p class="mar">Carte de credit...</p>
            <v-divider class="border-opacity-100" color="success"></v-divider>
            <h4 class="mar">Livraison offerte</h4>
            <p class="mar">Livraison à domicile...</p>
            <v-divider class="border-opacity-100" color="success"></v-divider>
            <h4 class="mar">Retours sans frais</h4>
            <p class="mar">échange ou remboursement...</p>
        </div>
    </div>

    <div>

    </div>

</template>
  
<script lang="ts" setup>
import type { Produits } from "@/entities";
defineProps<{
  list: Produits[]
}>()

  
</script>
  
<style>

p{
    margin: 10px;
}

.buy {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    text-align: center;
}

.div1 {
    background-color: rgb(239, 243, 242);
    border-radius: 10px;
    width: 65%;
    padding: 100px;
    margin: 10px;
}

.mar {
    margin: 20px;
}

</style>
