<template>
  
<div id="video">
    <video autoplay loop muted>
    
      <source src='/public/video.mp4' type="video/mp4">
    </video>
  </div>
  <Card></Card>
  
</template>

<script lang="ts" setup></script>
<style >
</style>

