<template>
  <div id="login">
      <v-sheet class="bg-deep-orange pa-12" rounded>
      <v-card class="mx-auto px-6 py-8" max-width="344">
        <v-form @submit.prevent="login()">
          <v-text-field
            v-model="email"
            class="mb-2"
            label="Email"
            clearable
          ></v-text-field>

          <v-text-field
            v-model="password"
            label="Password"
            type="password"
            placeholder="Enter your password"
            clearable
          ></v-text-field>

          <br>

          <v-btn
            color="success"
            size="large"
            type="submit"
            variant="elevated"
            block
          >
            Sign In
          </v-btn>
          
          
        </v-form>
      </v-card>
    </v-sheet>
  </div>
  
</template>

<script lang="ts" setup>
import type { Users } from '~/entities';

const router = useRouter();

const email = ref('');
const password = ref('');
const user = useAuth();


async function login() {
  const userResp = await $fetch<Users>('http://localhost:8080/api/account', {
    credentials:'include',
    headers: {
      'Authorization': 'Basic '+ btoa(email.value+':'+password.value)
    }
  });
  user.value = userResp;
  router.push('/');
}



</script>

<style>
#login{
  padding-top: 7%;
}
</style>


