<template>
  
  <div style="display: flex;justify-content: center;">
  <div class="container" v-if="produit">
      <div class="card">
          <div class="imgBx">
              <div class="madiv">
                          <v-carousel hide-delimiters>
                              <v-carousel-item
                              v-for="(item,i) in items"
                              :key="i"
                              :src="item.src"
                              cover
                              ></v-carousel-item>
                          </v-carousel>
              </div>
          </div>
  
          <div style="width: 50%;">
              
          </div>
  
          <div class="contentBx">
  
              <h2>{{ produit.genre}}</h2>
  
              <div class="size">
                  <h3>Size :</h3>
                  <span>S</span>
                  <span>L</span>
                  <span>XL</span>
                  <span>XXL</span>
              </div>
              <a href="#">Buy Now</a>
          </div>
  
      </div>
  </div>
  
  </div>
  
  </template>
      
  <script lang="ts" setup>
import type { Produits } from '~/entities';

  
  const items = [
      {
        src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg',
      },
      {
        src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg',
      },
      {
        src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg',
      },
    ]

    const route = useRoute();
    const {data:produit}  = await useFetch<Produits>('http://localhost:8080/api/produits/'+ route.params.id);


  
  </script>
  
  <style >
  * {
      font-family: 'Poppins', sans-serif;
  }
  
  .container {
      position: relative;
      margin: 50px;
  }
  
  .container .card {
      position: relative;
      width: 1500px;
      height: 600px;
      background: #232323;
      border-radius: 20px;
      overflow: hidden;
  }
  
  .container .card:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000000;
      clip-path: circle(150px at 80% 20%);
      transition: 0.5s ease-in-out;
  }
  
  .container .card:hover:before {
      clip-path: circle(300px at 80% -20%);
  }
  
  .container .card:after {
      position: absolute;
      top: 30%;
      left: -20%;
      font-weight: 800;
      color: rgba(255, 255, 255, 0.04);
  
  }
  
  .container .card .imgBx {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1000;
      width: 100%;
      height: 100%;
      transition: .5s;
  }
  
  .container .card:hover .imgBx {
      top: 0%;
      transform: translateY(-25%);
      /* bug  */
  }
  
  .container .card .imgBx img {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
  }
  
  .container .card .contentBx {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100px;
      text-align: center;
      transition: 1s;
      z-index: 90;
  }
  
  .container .card:hover .contentBx {
      height: 210px;
  }
  
  .container .card .contentBx h2 {
      position: relative;
      font-weight: 600;
      letter-spacing: 1px;
      color: #fff;
  }
  
  .container .card .contentBx .size,
  .container .card .contentBx .color {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 20px;
      transition: .5s;
      opacity: 0;
      visibility: hidden;
  }
  
  .container .card:hover .contentBx .size {
      opacity: 1;
      visibility: visible;
      transition-delay: .5s;
  }
  
  .container .card:hover .contentBx .color {
      opacity: 1;
      visibility: visible;
      transition-delay: .6s;
  }
  
  .container .card .contentBx .size h3,
  .container .card .contentBx .color h3 {
      color: white;
      font-weight: 300;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-right: 10px;
  }
  
  .container .card .contentBx .size span {
      width: 26px;
      height: 26px;
      text-align: center;
      line-height: 26px;
      font-size: 14px;
      display: inline-block;
      color: #111;
      background: #fff;
      margin: 0 5px;
      transition: .5s;
      color: #111;
      border-radius: 4px;
      cursor: pointer;
  }
  
  .container .card .contentBx .size span:hover {  /* other bug */
      background: #B90000;
  }
  
  .container .card .contentBx .color span {
      width: 20px;
      height: 20px;
      background: #ff0;
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;
  }
  /*
  .container .card .contentBx .color span:nth-child(2) {
       background: black;
  }
  
  .container .card .contentBx .color span:nth-child(3) {
       background: white;
  }
  
  .container .card .contentBx .color span:nth-child(4) {
       background: red;
  }*/
  
  .container .card .contentBx a {
      display: inline-block;
      padding: 10px 20px;
      background: #fff;
      border-radius: 4px;
      margin-top: 10px;
      text-decoration: none;
      font-weight: 600;
      color: #111;
      opacity: 0;
      transform: translateY(50px);
      transition: .5s;
  }
  
  .container .card:hover .contentBx a {
      opacity: 1;
      transform: translateY(0px);
      transition-delay: .7s;
  } 
  </style>
      